body::before {
  position: fixed;
  content: '';
  left: 0;
  right: 0;
  z-index: -1;
  min-height: 100vh;
  background: url('./Images/background.jpg') no-repeat center center fixed;
  background-size: cover;
  filter: blur(3.5px);
}

body {
  left: 0;
  right: 0;
  z-index: 0;
  position: relative;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: rgba(79, 99, 103, 0.7);
}

.side-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: #4f6367;
  color: #eef5db;
  float: left;
  height: 100vh;
  width: 20%;
  text-align: center;
}

.profile-wrapper-desktop {
  padding-top: 25%;
}

.profile-image-desktop {
  height: 150px;
  border: 2px solid #eef5db;
  border-radius: 50%;
}

.name-desktop {
  padding-top: 20px;
  font-weight: 700;
  font-size: 27px;
}

.location-desktop {
  padding-top: 15px;
  font-weight: 300;
  font-size: 18px;
}

.home-icon-desktop {
  height: 20px;
}

.nav-ul {
  padding-top: 30px;
  width: 100%;
}

li {
  padding: 20px;
  font-size: 21px;
  font-weight: 300;
}

li:hover {
  background-color: #fe5f55;
  font-weight: 700;
}

.selected {
  font-weight: 700;
  background-color: #fe5f55;
}

.top-header {
  left: 30%;
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  background-color: #b8d8d8;
  color: #4f6367;
  height: 55px;
  font-size: 25px;
  font-weight: 700;
}

.slash-span {
  color: #fe5f55
}

.desktop-wrapper::after {
  content: '';
  clear: both;
  display: table;
}

.back-icon-desktop {
  height: 20px;
  padding: 10px;
}

.daily-activity-graph {
  position: absolute;
  top: 60px;
  width: 70%;
  padding-left: 20%;
}

.daily-activity-graph h3 {
  padding: 10px 0 0px 30px;
  color: #FFF;
  font-weight: 700;
}

.daily-activity-graph img {
  margin-top: -15px;
  width: 65%;
}

.recent-workouts-div {
  position: relative;
  height: 120px;
  min-width: 200px;
  background-color: #fff;
  opacity: .6;
  font-weight: 700;
  margin-top: 10px;
  font-size: 14px;
  padding: 15px;
}

.goal {
  position: relative;
  /*height: 120px;*/
  display: flex;
  align-items: center;
  min-width: 200px;
  background-color: #fff;
  opacity: .6;
  font-weight: 700;
  margin-top: 10px;
  font-size: 14px;
  padding: 15px 5px 15px 15px;
}



.recent-workouts-div:hover, .goal:hover {
  opacity: 1;
}

.recent-workouts-section h3 {
  padding-bottom: 10px;
  color: #FFF;
  font-weight: 700;
}

.recent-workouts-section {
  margin-top: 0px;
  margin-right: 20px;
  padding: 10px 0 0px 30px;
  float: right;
  width: 32%;
}

.recent-workouts-div h2 {
  font-size: 16px;
  text-transform: uppercase;
}

.activity {
  font-size: 10px;
  padding-bottom: 15px;
}

.workout-icon {
  position: absolute;
  top: 40%;
  right: 10px;
  height: 40px;
}

.social-media {
  position: absolute;
  height: 15px;
}

.facebook {
  top: 10px;
  right: 10px;
}

.twitter {
  top: 10px;
  right: 30px;
}

/*FOOTER DESKTOP*/
.footer-desktop {
  display: flex;
  justify-content: space-around;
  width: 80%;
  height: 80px;
  background-color: #b8d8d8;
  position: fixed;
  bottom: 0;
  right: 0;
}

.footer-div {
  padding-top: 10px;
  font-weight: 700;
  color: black;
  font-size: 10px;
}

.footer-icon-desktop {
  height: 50px;
  padding-top: 10px;
  border-radius: 50%;
}

.active-mins {
  padding: 15px 0px 5px 0px;
}

.desktop {
  display: none;
}

.opacity-cover {
  height: 100vh;
  background-color: rgba(79, 99, 103, 0.7);
}

.goals-wrapper {
  width: 40%;
  padding: 10px 30px 0px 20px;
  margin-left: 20px;
}

.goal-graph {
  width: 80px;
}

.goals-text {
  padding-left: 10px;
}

.goals-text h4 {
  padding-bottom: 5px;
  font-weight: 400;
}

.goals-text h5 {
  font-size: 12px;
}

/*SIDE NAV MEDIA QUERY*/
@media (max-width: 900px) {
  /*.desktop {
    display: block;
  }*/

  .side-nav {
    display: flex;
    align-items: center;
    background-color: #4f6367;
    color: #eef5db;
    height: 100vh;
    width: 20%;
    text-align: center;
    width: 100%;
    height: 150px;
    top: 0;
    padding-left: 20px;
  }

  .profile-wrapper-desktop {
    padding-top: 10px;
    height: 100vh;
  }

  .profile-image-desktop {
    height: 75px;
  }

  .name-desktop {
    font-size: 22px;
  }

  .location-desktop {
    display: none;
  }

  .nav-ul {
    display: flex;
    padding: 0px;
    font-size: 20px;
    clear: both;
    justify-content: space-around;
    width: 70%;
    padding-top: 92px;
  }

  li {
    font-size: 18px;
    display: table-cell;
  }

  .top-header, .footer-desktop{
    clear: both;
    width: 100%;
  }

  .daily-activity-graph {
    display: none;
  }

  .recent-workouts-section {
    width: 40%;
    padding-right: 20px;
  }

  .recent-workouts-div {
    height: 80px;
  }

}

/*MOBILE to DESKTOP MEDIA QUERY*/
@media (min-width: 600px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
}

.facebook, .twitter {
  float: right;
}

.icon {
  padding: 10px;
  height: 25px;
}

.back-icon {
  height: 15px;
}

.profile-image {
  height: 110px;
  margin-top: -10px;
  border: 2px solid #eef5db;
  border-radius: 50%;
}

.profile-wrapper, .last-workout {
  margin: auto;
  text-align: center;
}

.profile-wrapper {
  width: 50%;
  color: #eef5db;
}

.name {
  width: 100%;
  padding-top: 5px;
  font-weight: 700;
  font-size: 20px;
}

.location {
  padding: 8px 0 10px 0;
  font-weight: 300;
  font-size: 12px;
}

.home-icon {
  height: 12px;
}

.last-workout {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(184, 216, 216, 0.7);
  color: #4f6367;
  font-weight: 700;
  font-size: 20px;
  height: 35px;
}

.last-workout-text {
  padding: 5px;
}

.workout-details {
  background-color: #4f6367;
  font-weight: 700;
  font-size: 16px;
}

.workout-type {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  color: #fe5f55;
}

.workout-stats {
  display: flex;
  justify-content: space-around;
  padding: 5px 0;
  color: #b8d8d8;
}

.stats {
  padding-top: 22px;
}

.workout-type-icon {
  height: 60px;
}

.start-workout {
  display: flex;
  padding-bottom: 10px;
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 90%;
  border-bottom: 2px solid #b8d8d8;
}

.workout-time {
  font-weight: 700;
  font-size: 65px;
  color: #eef5db;
}

.workout-duration {
  padding-top: 5px;
  font-weight: 300;
  font-size: 15px;
  color: #fe5f55;
}

.distance-pace {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 90%;
}

.distance-div {
  border-right: 2px solid #b8d8d8;
}

.distance-div, .pace-div {
  margin-top: 10px;
  width: 40%;
  text-align: center;
}

.distance-miles, .pace-bar {
  padding-top: 20px;
  font-weight: 700;
  font-size: 45px;
  color: #eef5db;
}

.distance-text, .pace-text {
  padding-top: 15px;
  color: #fe5f55;
  font-weight: 300;
  font-size: 15px;
}

.start-workout-button {
  margin: 6% 5% 4% 5%;
  width: 90%;
  height: 40px;
  background-color: #fe5f55;
  color: #eef5db;
  font-weight: 700;
  font-size: 20px;
  border-radius: 15px;
  border: none;
}

.bottom-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #4f6367;
  border-top: 2px solid #eef5db;
  bottom: 0;
  left: 0;
  right: 0;
  color: #eef5db;
}

.footer-icon {
  height: 33px;
  padding: 10px;
}

.bottom-nav h5 {
  text-align: center;
  padding-bottom: 10px;
}
